{
  "openapi": "3.1.0",
  "info": {
    "title": "Lohikeitto",
    "description": "Service catalog API with search, logos, and categories. Aggregates data from a local database and external brand APIs (Brandfetch, logo.dev).",
    "license": {
      "name": "AGPL-3.0"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://soup.uha.app",
      "description": "Production"
    },
    {
      "url": "http://localhost:3000",
      "description": "Local development"
    }
  ],
  "paths": {
    "/health": {
      "get": {
        "tags": [
          "System"
        ],
        "summary": "Health check",
        "description": "Returns the service status and database connectivity. Used by orchestrators (Docker, k8s) for liveness probes.",
        "operationId": "health_check",
        "responses": {
          "200": {
            "description": "Service is healthy",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HealthResponse"
                }
              }
            }
          },
          "503": {
            "description": "Service is degraded (database unreachable)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HealthResponse"
                }
              }
            }
          }
        }
      }
    },
    "/search": {
      "get": {
        "tags": [
          "Search"
        ],
        "summary": "Search services",
        "description": "Search for services across local database and external APIs (Brandfetch, logo.dev). Results are deduplicated by domain with priority: local > brandfetch > logo.dev. Local (curated) services may have multiple domains; external results always have one.",
        "operationId": "search",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "description": "Search string (required, non-empty)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sources",
            "in": "query",
            "description": "Comma-separated sources: `local`, `brandfetch`, `logodev`. Aliases: `external` (brandfetch + logodev), `all` (default)",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Search results",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SearchResult"
                  }
                },
                "example": [
                  {
                    "domains": [
                      "adguard.com"
                    ],
                    "id": "550e8400-e29b-41d4-a716-446655440000",
                    "logo_url": "https://s3.uha.app/logos/adguard.webp",
                    "name": "AdGuard",
                    "source": "local"
                  }
                ]
              }
            }
          },
          "400": {
            "description": "Invalid input (empty or missing `q`)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "required": [
          "status",
          "code",
          "message"
        ],
        "properties": {
          "code": {
            "type": "integer",
            "format": "int32",
            "description": "HTTP status code",
            "example": 400,
            "minimum": 0
          },
          "message": {
            "type": "string",
            "description": "Error description",
            "example": "q is required"
          },
          "status": {
            "type": "string",
            "description": "Always `error`",
            "example": "error"
          }
        },
        "example": {
          "code": 400,
          "message": "q is required",
          "status": "error"
        }
      },
      "HealthResponse": {
        "type": "object",
        "required": [
          "status",
          "message",
          "db"
        ],
        "properties": {
          "db": {
            "type": "boolean",
            "description": "Whether the database is reachable"
          },
          "message": {
            "type": "string",
            "description": "Human-readable status message",
            "example": "Lohikeitto is ready"
          },
          "status": {
            "type": "string",
            "description": "Service status: `ok` or `degraded`",
            "example": "ok"
          }
        },
        "example": {
          "db": true,
          "message": "Lohikeitto is ready",
          "status": "ok"
        }
      },
      "SearchResult": {
        "type": "object",
        "required": [
          "id",
          "logo_url",
          "name",
          "domains",
          "source"
        ],
        "properties": {
          "domains": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Service domains. Local (curated) results may have multiple; external results always have one."
          },
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "For local results — UUID v4 from DB; for external — deterministic UUID v5 from first domain"
          },
          "logo_url": {
            "type": "string",
            "description": "Logo image URL",
            "example": "https://s3.uha.app/logos/adguard.webp"
          },
          "name": {
            "type": "string",
            "description": "Service name",
            "example": "AdGuard"
          },
          "source": {
            "type": "string",
            "description": "Result source: `local`, `brandfetch`, or `logo.dev`",
            "example": "local"
          }
        },
        "example": {
          "domains": [
            "adguard.com"
          ],
          "id": "550e8400-e29b-41d4-a716-446655440000",
          "logo_url": "https://s3.uha.app/logos/adguard.webp",
          "name": "AdGuard",
          "source": "local"
        }
      }
    }
  },
  "tags": [
    {
      "name": "Search",
      "description": "Service search across local and external sources"
    },
    {
      "name": "System",
      "description": "Health checks and diagnostics"
    }
  ]
}
