# DB
DATABASE_URL=

# Server
HOST=0.0.0.0
PORT=3000
RUST_LOG=info,sqlx=warn,tower_http=debug
LOG_JSON=1 # "0" for human readable format; "1" for services

# Bucket
LOGO_BASE_URL=https://s3.uha.app/logos

# Search fallbacks & logos & symbols
BRANDFETCH_CLIENT_ID=
LOGODEV_TOKEN=

# Cloudflare
CF_R2_BUCKET=
CF_R2_ACCOUNT_ID=
CF_R2_S3_API=

# Cloudflare Lohikeitto (soup) account token
CF_R2_ACCOUNT_TOKEN_VALUE=
CF_R2_ACCOUNT_ACCESS_KEY_ID=
CF_R2_ACCOUNT_SECRET_ACCESS_KEY=

# Admin
ADMIN_TOKEN=
