# DB
DATABASE_URL=postgresql://sharkie:sharkie_123@SHARKIE-DB:5432/lohikeitto

# Server
HOST=0.0.0.0
PORT=3000
ALLOWED_ORIGINS=*
RUST_LOG=lohikeitto=info,sqlx=warn,tower_http=debug

# Bucket
S3_BASE_URL=https://s3.uha.app

# Search fallbacks & logos & symbols
BRANDFETCH_CLIENT_ID=
BRANDFETCH_SECRET=
LOGODEV_PK=pk_
LOGODEV_SK=sk_

# Cloudflare
CF_R2_BUCKET=
CF_R2_S3_API=

# Cloudflare Lohikeitto (soup) account token
CF_R2_ACCOUNT_ACCESS_KEY_ID=
CF_R2_ACCOUNT_SECRET_ACCESS_KEY=
